DB_URI = 
PORT = 3000
JWT_SECRET_KEY=
JWT_EXPIRES_IN=
COMPANY_EMAIL =
COMPANY_EMAIL_PASS=
ADMIN_USERNAME = 
ADMIN_EMAIL = 
ADMIN_PASS = 
KHALTI_API_BASE_URL = https://dev.khalti.com/api/v2
KHALTI_SECRET_KEY =
CLIENT_URL = http://localhost:5173
